DB_HOST=ep-empty-glade-acg86a96-pooler.sa-east-1.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASSWORD=npg_jR0hCpKeUAE2
DB_NAME=neondb
DJANGO_SECRET_KEY=django-insecure-7st%d_q_5(ui54l0e+fiz9lfh#syaj(*j5sveiv=4s5rz!yx2%
DEBUG=True